<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:data="http://www.thymeleaf.org/extras/data" xmlns:crowde="http://crowde.com.br" layout:decorate="~{layout/LayoutPadrao}">

<head>
    <title>Cadastro Funcionário</title>
    <link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/vendors/bootstrap-switch.min.css}" />

</head>

<section layout:fragment="conteudo" class="cw-layout-content  js-content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="container-fluid">
                <h1 th:if="${funcionario.novo}">Cadastro de cliente</h1>
                <h1 th:unless="${funcionario.novo}" th:text="|Edição do(a) funcionario ${funcionario.nome}|"></h1>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <form method="POST" th:object="${funcionario}" class="form-vertical  js-form-loading" th:action="${funcionario.novo} ? @{/funcionarios/novo} : @{/funcionarios/{id}(id=${funcionario.id})}">

            <crowde:message/>

            <input type="hidden" th:field="*{id}" id="idFuncionario" />

            <div class="form-group fr-required" crowde:classforerror="nome">
                <label for="nome" class="control-label">Nome</label>
                <input id="nome" type="text" class="form-control js-letra" autofocus="autofocus" th:field="*{nome}" />
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group js-data fr-required" crowde:classforerror="dataNascimento">
                        <label for="data-nascimento" class="control-label">Data Nascimento</label>
                        <input id="data-nascimento" type="text" class="form-control js-date" th:field="*{dataNascimento}" />
                    </div>
                </div>

                <div class="form-group col-sm-4 fr-required" crowde:classforerror="cpf">
                    <label for="cpf" class="control-label">CPF</label>
                    <input id="cpf" type="text" class="form-control" th:field="*{cpf}" />
                </div>
                <div class="form-group col-sm-4" crowde:classforerror="rg">
                    <label for="rg" class="control-label">RG</label>
                    <input id="rg" type="text" class="form-control" th:field="*{rg}" />
                </div>
            </div>
            <div class="row">

                <div class="form-group col-sm-4 fr-required" crowde:classforerror="sexo">
                    <label class="control-label">Sexo</label>
                    <div>
                        <th:block th:each="sexo : ${sexoPessoas}">
                            <div class="radio  radio-inline">
                                <input type="radio" th:field="*{sexo}" th:id="|id_pessoa_${sexo}|" th:value="${sexo}">
                                <label th:for="|id_pessoa_${sexo}|" th:text="${sexo.descricao}">Masculino</label>
                            </div>
                        </th:block>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group fr-required" crowde:classforerror="telefoneCelular">
                        <label for="telefone-celular" class="control-label">Tel. Celular</label>
                        <input id="telefone-celular" type="text" class="form-control js-phone-number" th:field="*{telefoneCelular}" />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="telefone-fixo">Tel. Secundário</label>
                        <input id="telefone-fixo" type="text" class="form-control js-phone-number" th:field="*{telefoneFixo}" />
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="form-group  col-sm-3 fr-required">
                    <label for="stat">Tipo do Funcionário</label>
                    <select id="tipoFuncionario" class="form-control selectpicker" data-live-search="true" th:field="*{tipoFuncionario}" onchange="checarTipoFuncionario()">
                        <option th:each="tipoFuncionario : ${tiposFuncionario}" th:value="${tipoFuncionario}" th:text="${tipoFuncionario.descricao}">status</option>
                    </select>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="crmv" class="control-label">CRMV</label>
                        <input id="crmv" type="text" class="form-control" th:field="*{crmv}" />
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group" crowde:classforerror="especialidade">
                        <label for="especialidade" class="control-label">Especialidade</label>
                        <input id="especialidade" type="text" class="form-control" th:field="*{especialidade}" />
                    </div>
                </div>

                <div class="col-sm-3 fr-required" crowde:classforerror="salario">
                    <label for="salario" class="control-label">Salário</label>
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="text" id="salario" class="form-control js-decimal" th:field="*{salario}" aria-label="Amount (to the nearest dollar)">
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group" crowde:classforerror="email">
                        <label for="email" class="control-label">E-mail</label>
                        <input id="email" type="text" class="form-control" th:field="*{email}" />
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group js-data fr-required" crowde:classforerror="dataAdmissao">
                        <label for="data-admissao" class="control-label">Data Admissão</label>
                        <input id="data-admissao" type="text" class="form-control js-date" th:field="*{dataAdmissao}" />
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="form-group  col-sm-4">
                    <label for="cep">CEP</label>
                    <div class="fr-field-action">
                        <input type="text" class="form-control js-cep fr-required" id="cep" data:url="@{/logradouros}" th:field="*{endereco.logradouro.cep}" />
                        <div class="fr-field-action__icon js-img-loading" style="display: none;">
                            <img th:src="@{/imagens/mini-loading.gif}" />
                        </div>
                    </div>
                </div>
                <div class="form-group  col-sm-2" crowde:classforerror="endereco.numero">
                    <label for="numero" class="control-label">Número</label>
                    <input type="text" class="form-control" id="numero" th:field="*{endereco.numero}" />
                </div>

                <div class="form-group  col-sm-6">
                    <label for="bairro">Bairro</label>
                    <input type="text" class="form-control" id="bairro" th:field="*{endereco.logradouro.bairro}" />
                </div>

            </div>

            <div class="form-group  fr-required" crowde:classforerror="endereco.logradouroAtual">
                <label for="logradouro" class="control-label">Logradouro</label>
                <input type="text" class="form-control" id="logradouro" th:field="*{endereco.logradouroAtual}" />
            </div>

            <div class="row">

                <div class="form-group  col-sm-4">
                    <label for="pontoReferencia">Referência</label>
                    <input type="text" class="form-control" id="pontoReferencia" th:field="*{endereco.pontoReferencia}" />
                </div>

                <div class="form-group  col-sm-4">
                    <label for="estado">Estado</label>
                    <select id="estado" class="form-control selectpicker" data-live-search="true">
                        <option value="">Selecione o estado</option>
                        <option th:each="estado : ${estados}" th:value="${estado.id}" th:text="|${estado.descricao} -  ${estado.uf}|"></option>
                    </select>
                </div>

                <div class="form-group  col-sm-4">
                    <label for="cidade" class="control-label">Cidade</label>
                    <div class="fr-field-action">
                        <select id="cidade" class="form-control selectpicker" data-live-search="true" th:field="*{endereco.cidade}" data:url="@{/cidades}">
                            <option value="">Selecione a cidade</option>
                        </select>

                        <div class="fr-field-action__icon js-img-loading" style="display: none;">
                            <img th:src="@{/imagens/mini-loading.gif}" />
                        </div>
                    </div>
                </div>

            </div>

            <div class="form-group ">
                <a th:href="@{/funcionarios}" class="btn  btn-danger">Cancelar</a>
                <button type="submit" class="btn  btn-primary">Salvar</button>
            </div>
        </form>

    </div>
</section>
<th:block layout:fragment="js-auxiliar">

    <script th:src="@{/layout/javascripts/vendors/bootstrap-switch.min.js}"></script>
    <script th:src="@{/javascript/pessoa.combo-estado-cidade.js}"></script>
    <script th:src="@{/javascript/pessoa.input-consulta-logradouro.js}"></script>
    <script type="text/javascript">
        $('.js-status').bootstrapSwitch();
        $('.js-data input').datepicker({
            language: "pt-BR",
            orientation: "bottom left",
            autoclose: true,
            todayHighlight: true,
            todayBtn: "linked"
        });
    </script>

    <script type="text/javascript">
        function checarTipoFuncionario() {
            tipoFuncionario = document.getElementById("tipoFuncionario").value;
            if (tipoFuncionario != "VETERINARIO") {
                document.getElementById("crmv").setAttribute("disabled", "disabled");
                document.getElementById("especialidade").setAttribute("disabled", "disabled");
            } else {
                document.getElementById("crmv").disabled = false;
                document.getElementById("especialidade").disabled = false;
            }
        }
    </script>
</th:block>

</html>