<!DOCTYPE html>
<html lang="pt" 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:data="http://www.thymeleaf.org/extras/data" >


<ul class="timeline">
        <li th:each="consulta,iteration : ${consultas}" th:classappend="${iteration.count % 2 == 0} ? 'timeline-inverted'" >
           
            <div  class="timeline-badge">
                <a><i th:classappend="${iteration.count % 2 == 0} ? 'fa fa-circle invert' : 'fa fa-circle'" ></i></a>
            </div>
            
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 th:text="${consulta.situacao}">Titulo</h4>
                    
                    
                </div>
                <div class="timeline-body">
                <p>
                    	<span th:text="|Consulta cadsatrada pelo(a) atendente ${consulta.atendente.nome} e relaizada pelo(a) profissional ${consulta.veterinario.nome}|">Detalhes da consula.</span>
                </p>
                </div>
                <div class="timeline-footer">
                    <span th:classappend="${iteration.count % 2 == 0} ? 'text-left' : 'text-right'" th:text="|${#temporals.format(consulta.dataConsulta, 'dd MMMM yyyy')} as ${#temporals.format(consulta.horaConsulta, 'HH:mm')}h |"> 21 Fev 2017</span>                   
                    <a style="margin-left: 10px;" class="btn  btn-default btn-xs" th:href="@{/fichas/novo/{consultaId}(consultaId = ${consulta.id})}"
							title="Detalhar consulta" >
						<i class="fa fa-book" aria-hidden="true"></i>
					</a>
                </div>
            </div>
            
        </li>       
       
		<li th:if="${#lists.isEmpty(consultas)}">
	          <div class="timeline-badge">
	              <a><i class="fa fa-circle" id=""></i></a>
	          </div>
	          <div class="timeline-panel">
	              <div class="timeline-heading">
	                  <h4>Sem Prontuário</h4>
	              </div>
	              <div class="timeline-body">
	              	<p>
	                  <span>Não tem informação sobre este prontuário</span>
	                </p>
	              </div>
	              <div class="timeline-footer">
	                  <span class="text-right" th:text="|Emitido em: ${#calendars.format(#calendars.createNow(), 'dd MMMM yyyy HH:mm')}|"> 21 Fev 2017</span>
	              </div>
	          </div>
      	</li>           
	 <li class="clearfix no-float"  ></li>
</ul>


</html>